#cookies{
  font-family: Arial;
  display:none;
  position:fixed;
  left:0;
  right:0;
  border-radius: 10px 10px 0 0;
  bottom:40px;
  height:auto;
line-height: 50px;
  float:none;
  font-size: 12.5px;
  margin:0 auto;
  text-align: center;
  line-height: 50px;
}#cookies button{
 background:none;
 border: 1px solid rgba(0,0,0,0.2);
 margin-left:5px;
 border-radius:3px;
 padding:4px 12px;
 vertical-align: middle;
 font-size: 10px;
}
