@font-face {
  font-family:'Avenir';
  src: url('../fonts/avenir-medium.eot');
  src: url('../fonts/avenir-medium.eot') format('embedded-opentype'), url('../fonts/avenir-medium.woff2') format('woff2'), url('../fonts/avenir-medium.woff') format('woff'), url('../fonts/avenir-medium.ttf') format('truetype'), url('../fonts/avenir-medium.svg#AvenirMedium') format('svg');
}
html,body {
  background:white;
  padding:0 0 0 0;
  margin: 0 auto;
  overflow-x:hidden;
}
body {
  font-family:'Avenir Next';
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  font-size: inherit;
  line-height:inherit;
}
.section h1{
  font-size: 32px;
  line-height: 50px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
.section{
  -webkit-font-smoothing: antialiased;
}
a {
  transition: all .3s linear;
}
.bg-white a{
  color:#0199f1;
}
.bg-white p{
  color:#555;
}
p, p *{
  font-size:16px;
  line-height: 19px;
}
 .section p{
  -webkit-font-smoothing: antialiased;
}
small{
  font-size: 14px;
}
.home{
  min-height:100%;
  height:100vh;
}
.slider a:hover img{
  opacity:.8;
}
.slider a img{
  width: 100%;
  max-width: 180px;
  vertical-align: middle;
}
.navbar{
  transition: all .5s ease-in-out;
  width:100%;
  left:0;
  right:0;
  top:0;
  position:fixed;
  height:60px;
  z-index:9999;
}
.navbar.scrolling {
  background: white;
  height:60px;
  box-shadow:0 2px 3px rgba(0,0,0, .05);
}
.navbar.scrolling a {
  color:black;
  line-height: 45px;
  opacity:.6;
}
.navbar.scrolling a.logo{
  color:#479CFE;
  line-height: 60px;
  opacity:1;
}
.nav a{
  padding:3px 10px;
  border-radius:20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 60px;
  color:white;
  opacity:.8;
}
.nav a:hover, .nav a.active{
  background: rgba(0,0,0, .1);
  opacity:1;
}
.nav a i{
  vertical-align: middle;
}
.nav-mobile{
  background: rgba(0,0,0,.7);
  padding-top:100px;
  min-height:100%;
  height:100vh;
  display:none;
}
.nav-mobile a{
  display: block;
  width: 50%;
  float: none;
  margin:15px auto;
  border-radius:5px;
  padding:1% 2%;
  font-size: 16px;
  color:white;
  opacity:.8;
  background: rgba(0,0,0, .15);
  line-height: 30px;
}
.nav-mobile a:hover, .nav-mobile a.active, .nav-mobile a:active{
  opacity:1;
}
.nav-mobile-button{
  right:3.5%;
  top:15px;
}
.contacts .btn{
  max-width: 300px;
  background: rgba(0,0,0, .08);
  letter-spacing:0.5px;
  font-size: 16px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.logo{
  line-height: 80px;
  color:white;
}
.line-max{
  max-width: 1000px;
  float:none;
  clear: both;
}
.slogan{
  min-height:400px;
  height:75vh;
}
.slogan h1{
  font-size: 40px;
}
.slogan h3{
  font-size:30px;
}
video{
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  overflow:hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bg-blue{
  background-color: #0199f1;
}
.bg-lightblue{
  background-color: #CFF1FA;
}
.bg-diagonal{background: rgb(224,243,250);
background: -moz-linear-gradient(-45deg,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(121,197,252,1) 50%, rgba(121,197,252,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(121,197,252,1) 50%,rgba(121,197,252,1) 100%);
background: linear-gradient(135deg,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(121,197,252,1) 50%,rgba(121,197,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#79c5fc',GradientType=1 );
}
.bg-grey{
  background-color: #eee;
}
.color-blue{
  color:#0199f1;
}
.color-720kb{
  color:#479CFE;
}
.color-muted-inverse-less{
  color:rgba(255, 255, 255, .8);
}
.bg-body{
  background: -moz-linear-gradient(top,  rgba(1,153,241,0) 68%, rgba(1,153,241,0.3) 86%, rgba(1,153,241,0.94) 96%, rgba(1,153,241,1) 97%, rgba(1,153,241,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(1,153,241,0) 68%,rgba(1,153,241,0.3) 86%,rgba(1,153,241,0.94) 96%,rgba(1,153,241,1) 97%,rgba(1,153,241,1) 100%);
  background: linear-gradient(to bottom,  rgba(1,153,241,0) 68%,rgba(1,153,241,0.3) 86%,rgba(1,153,241,0.94) 96%,rgba(1,153,241,1) 97%,rgba(1,153,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000199f1', endColorstr='#0199f1',GradientType=0 );
}
.footer, .footer *{
  font-size:13px;
  color:rgba(0,0,0, .3);
  background: #4E5759;
}
.separator1,.separator2,.separator3{
  width:100%;
  clear:both;
  float:none;
  margin:0 auto;
  min-height:1px;
}
.separator2{
  min-height: 2px;
}
.separator3{
  min-height:3px;
}
#particles{
  max-height: 150px;
  min-height:100px;
}
#particles canvas{
  margin-top:-90px;
}
#particles div a{
  font-size: 20px;
  position: relative;
}
