@font-face {
  font-family:'Avenir';
  src: url('../fonts/avenir-medium.eot');
  src: url('../fonts/avenir-medium.eot') format('embedded-opentype'), url('../fonts/avenir-medium.woff2') format('woff2'), url('../fonts/avenir-medium.woff') format('woff'), url('../fonts/avenir-medium.ttf') format('truetype'), url('../fonts/avenir-medium.svg#AvenirMedium') format('svg');
}
html {
    overflow: hidden;
    min-height: 100%;
    height:100vh;
    background:white;
    padding:0 0 0 0;
    margin: 0 auto;
}
body {
    font-family:'Avenir Next', Arial;
    min-height: 100%;
    height:100vh;
    overflow: auto;
    background:white;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.link {
  color:inherit;
}
.link:hover {
  color:#1E9EFA;
}
.separator10per{
  position:relative;
  margin-top:10%;
}
/*Extra*/
.logo{
  font-size:20px;
  line-height: 20px;
  font-weight:500;
}
.img-media{
  box-shadow:  0 -2px 0 1.5px #1E9EFA,0 2px 0 1.5px rgba(0,0,0,0.3);
}
.article{
  height:100%;
  min-height:100vh;
}
.article-title{
  height:20vh;
  min-height:20%;
}.article-title h1{
  margin-top: 17.5%;
}
.article-content{
  height:80vh;
  min-height:80%;
}
.article-menu a{
  padding:0.5px 8px 0.5px 9px;
  margin:0 0.5%;
  opacity:0.4;
  transition: opacity 0.15s ease;
}
.article-menu a.active{
  opacity:1;
  background-color:rgba(0,0,0,0.03);
}
.article-menu a:hover{
  opacity:1;
}
.media{
  width:92%;
  max-width:350px;
  float:none;
  margin:0 auto;
  clear:both;
  display:inline-block;
  transition: background-color 0.15s ease-out;
}
.media:hover{
  transition: background-color 0.15s ease-out;
  background:rgba(255,255,255,0.45);
}
.media-link{
  padding:15px 0;
}
.navbar-menu {
  max-width: 550px;
  margin: 0 auto;
  float:none;
}
.navbar-menu .nav a {
  margin-left:5%;
  line-height: 20px;
  font-size:15px;
  font-weight: 400;
  color:black;
  opacity:0.55;
}
.navbar-menu a:hover, .navbar-menu a.active, .navbar-menu a:active, .navbar-menu a.active i {
  opacity:1;
  transition: opacity 0.15s ease;
}
.navbar-menu a i {
  font-size: 19px;
  color:#1E9EFA;
}
.footer{
  bottom: -80px;
}
.bottom-menu {
  max-width:500px;
  float:none;
}
.footer.ngfx-fadeinupbig-start{
  bottom:0;
}
.bottom-menu.ngfx-fadeinupbig-start a{
  font-size: 16px;
  color:white;
  opacity:1;
}
.bottom-menu a:hover,.bottom-menu a.active,.bottom-menu a:active{
  background:rgba(0,0,0,0.05);
  transition: all 0.15s ease;
  color:cyan;
}
.bottom-menu.ngfx-fadeinupbig-start #cookies{
  opacity:1;
}
/*Layout*/
.line-max {
  max-width: 550px;
  margin:0 auto;
  float:none;
  padding:0 38px;
}
.col3x3{
  width:33.25%;
}
/*Backgrounds*/
.bg-light {
  background-color: #E7EFF1;
}
.bg-lightblue {
  background-color: #1E9EFA;
}
.bg-violet {
  background-color: #A52FF9;
}
.bg-lightgreen {
  background-color: #2FF9DB;
}
.bg-lightred {
  background-color: #F92F54;
}
.bg-body {
  background-color:#fff;
}
.bg-body-light {
  background-color: rgba(246, 249, 250, 0.45);
}
/*Buttons*/
.btn-outline{
  border:1px solid #1E9EFA;
}
.btn-badge{
  display:inline-block;
  min-width:130px;
  padding:5px 10px;
  border-radius: 2px 2px 2px 2px;
}
.btn-badge:hover{
  border-color:#8FCFFD;
  transition: all 0.15s linear;
}
.btn-badge:active{
  border-color: #1E9EFA;
  opacity:0.45;
}
/*Colors*/
.color-muted-more{
  color: rgba(0,0,0,0.3)
}
.color-light {
  color: #EFF5F7;
}
.color-lightblue {
  color: #1E9EFA;
}
.color-violet {
  color: #8E2BD4;
}
.color-lightgreen {
  color: #24BFDA;
}
.color-lightred {
  color: #F82E71;
}
/*Font*/
.font-x-medium{
  font-size: 17.5px;
}
.font-x-small {
  font-size: 12px;
}
.font-x-large {
  font-size: 24px;
  font-weight: normal;
}
.font-xx-large {
  font-size: 30px;
  font-weight: normal;
}
.font-xxx-large {
  font-size: 43px;
  letter-spacing:-1px;
  font-weight: normal;
}
.btn-mini{
  padding:3px;
}
/*Utils*/
.opacity-less{
  opacity:0.23;
}
/*Tablet and mobile*/
@media screen and (min-width:0px) and (max-width:800px) {
  .navbar-menu {
    max-width: 85%;
  }
  .article-title h1{
    margin-top: 35%;
    font-size:35px;
  }
  .navbar-menu .logo img {
    margin-left:4px;
  }
}
