@font-face {
  font-family:'Avenir';
  src: url('../fonts/avenir-medium.eot');
  src: url('../fonts/avenir-medium.eot') format('embedded-opentype'), url('../fonts/avenir-medium.woff2') format('woff2'), url('../fonts/avenir-medium.woff') format('woff'), url('../fonts/avenir-medium.ttf') format('truetype'), url('../fonts/avenir-medium.svg#AvenirMedium') format('svg');
}
body {
  font-family:'Avenir', Arial;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.link {
  color:inherit;
}
.link:hover {
  color:#50A6FC;
}
/*Extra*/
.navbar-menu {
  max-width: 550px;
  margin: 0 auto;
  float:none;
}
.navbar-menu .nav a {
  margin-left:5%;
  line-height: 21px;
  font-size:16.5px;
  font-weight: 500;
  color:#000;
  text-shadow:0px 0px 0px white;
}
.navbar-menu a:hover, .navbar-menu a.active, .navbar-menu a:active, .navbar-menu a.active i {
  color:#50A6FC;
  transition: color 0.15s ease;
}
.navbar-menu a i {
  font-size: 19px;
}
.img-media {
  max-width: 80px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
/*Layout*/
.line-max {
  max-width: 550px;
  margin:0 auto;
  float:none;
  padding:0 38px;
}
/*Backgrounds*/
.bg-light {
  background-color: #E7EFF1;
}
.bg-lightblue {
  background-color: #5163FD;
}
.bg-violet {
  background-color: #A52FF9;
}
.bg-lightgreen {
  background-color: #2FF9DB;
}
.bg-lightred {
  background-color: #F92F54;
}
.bg-body {
  background-color:#F6F9FA;
}
.bg-body-light {
  background-color: rgba(246, 249, 250, 0.45);
}
/*Colors*/
.color-light {
  color: #EFF5F7;
}
.color-grey {
  color:smoke;
}
.color-lightblue {
  color: #50A6FC;
}
.color-violet {
  color: #8E2BD4;
}
.color-lightgreen {
  color: #24BFDA;
}
.color-lightred {
  color: #F82E71;
}
/*Font*/
.font-x-small {
  font-size: 12px;
}
.font-x-large {
  font-size: 24px;
  font-weight: normal;
}
.font-xx-large {
  font-size: 30px;
  font-weight: normal;
}
/*Tablet and mobile*/
@media screen and (min-width:0px) and (max-width:800px) {
  .navbar-menu {
      max-width: 85%;
  }
  .navbar-menu .logo img {
      margin-left:4px;
  }
}