/*tablet*/
@media screen and (max-width:800px) {
  .nav a{
    padding:0;
  }
  .navbar a{
    line-height: 55px;
  }
  .navbar a.logo{
    line-height: 70px;
  }
  .line-max{
    max-width: 93%;
  }
  .contacts .btn{
    max-width: 100%;
    line-height: 40px;
    margin: 10px 0;
  }
  .center-content-tablet{
    text-align: center;
  }
  .left-content-tablet{
    text-align: left;
  }
}
